#logo {
  /*font-family: Georgia, fixed;*/
  letter-spacing: 0.25em;
  /*font-weight: bold;*/
  /*font-variant: small-caps;*/
}

#id_transcript {
  float: right;
  visibility: hidden;
}

#submit {
  font-weight: bold;
}

#submit_edit {
  margin-top: 20px;
  visibility: hidden;
  display: none;
}

#id_transcript {
  width: 400px;
}

.timestamp_input {
  width: 66px;
}

.timestamp_input, .transcript_input {
  border: solid 1px #454545;
}

.insert_row a, .delete_row a {
  border: solid 1px #454545;
  padding: 2.5px 20px 2.5px 20px;
  position: inherit;
  text-decoration: none;
  margin: 0;
}

.insert_row a:hover, .delete_row a:hover, .insert_row a:active, .delete_row a:active {
  padding: 2.5px 20px 2.5px 20px;
  background-color: #D8D8D8;
  border-bottom-width: 2px;
}

.insert_row:hover, .delete_row:hover {
  cursor: pointer;
}

/*#ad {*/
  /*height: 60px;*/
  /*width: 468px;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: 1px solid grey;*/
/*}*/

/*#transcript_choose tr:nth-child(even){
  background-color: #E6E6E6;
}

#transcript_choose tr:nth-child(odd){
  background-color: white;
}

#transcript_choose th {
  background-color: white;
}
*/

#transcripting td.transcript_cell input {
  width: 290px;
}

/*#transcripting td.transcript_cell input {
  width: 250px;
}
*/
td {
 text-align: center;
}

#transcripting td.insert_row {
  text-align: center;
}

ul {
  padding: 0 0 0 1em; /* bullet lists hug margin on left */
}

#header ul, #header h1, #header p, #header li, #header form {
  display: inline;
  padding: 0;
  margin-right: 10px;
}

#video_search form {
  white-space: nowrap;
  vertical-align: super; /* better align with h1 */
}

#header {
  margin: 10px 0 10px 0;
}

#login {
  float: right;
}

a {
  text-decoration: underline;
}

a:hover{
  border-bottom: 1px solid #2a6496;
}

body {
  /*font-weight: 200 !important;*/
  padding-bottom: 100px;
}

h1, h2 {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight:  300;
}

#footer {
  border-top: 2px solid #E5E4E2;
  margin-bottom: 30px;
  margin-top: 10px;
}

#captions {
  color: yellow;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-shadow:
  -1px -1px 0 #333,
   1px -1px 0 #333,
   -1px 1px 0 #333,
    1px 1px 0 #333;
  top: -150px;
  height: 0; /* prevent template shift from captions */
}

#timeStamp {
  background: transparent;
  color: yellow;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-shadow:
  -1px -1px 0 #333,
   1px -1px 0 #333,
   -1px 1px 0 #333,
    1px 1px 0 #333;
}

#transcriptEdit {
  border: 1px solid black;
  /*height: 100px;*/
  /*overflow-y: scroll;*/
}

#vidId {
  /* height: 1000px; */
  width: 100%;
}

#message {
  color: red;
}

#main-search {
  /*font-size: 200%;*/
  margin: 100px 0 100px 0;
  width: 100%;
}

#main-search li {
  display: inline;
}

#submitted_transcripts {
  /* trying to get transcript editor and transcript */
  overflow: auto;
  height: 100%;
}

.show_hide_add_transcripts {
  /*font-size: 48px;*/
  margin-bottom: 15px;
}

#transcript_table_scrollbox {
  display: none;
  padding: 0 5px 0 5px;
  /*width: 49%;*/
  /*height: 600px;*/
  /*overflow: auto;*/
  background: white;
  position: absolute;
}

#add_transcripts {
  display: none;
  /*border: 1px solid #333;*/
  padding: 0 15px 0 5px;
  width: 60%;
  height: 600px;
  overflow: auto;
  background: white;
  /*display: inline-block;*/
}

#ytplayer {
  height: 200px;
  width: 25%;
  /*height: 600px; width: 100%;*/
}

#transcript {
  width: 200px;
  padding-left: 1.5em;
}

#time_submit_message, #language_submit_message, #language_message {
  color: red;
}

#transcription_tips {
  margin: 5em 0 2em 0;
  display: none;
}

.transcript_preview_row a {
  text-decoration: none;
}
.transcript_preview_row:hover {
  /*background-color: #D8D8D8;*/
  /*color: black;*/
  /*  cursor: pointer; */
  /*text-decoration: underline;*/
}

td.transcript_choose_column_status:hover, td.transcript_choose_edit:hover {
  background-color: #D8D8D8;
  cursor: pointer; 
}

td.transcript_choose_edit:hover a {
  border-bottom: none;
  color: #333;
}

#id_transcript_search {
  width: 50%;
}

/* trying to overflow */
.scrollit {
  overflow: scroll;
  height: 100px;
  width: 100px;
  /*background-color: red;*/
}

#transcript_choose {
  border: 1px solid red;
  table-layout: fixed;
  width: 100%;
}

.transcript_preview_column {
  text-align: left;
  width: 60%;
}
.transcript_choose_column_language, .transcript_choose_column_status, .transcript_choose_share, .transcript_choose_edit {
  text-align: center;
}

.transcript_choose_column_language, .transcript_choose_column_status {
  width: 190px;
}

.transcript_choose_share {
  width: 250px;
}

.transcript_choose_edit {
  width: 60px;
}
  
.transcript_choose_edit a {
  color: #333;
}

.transcript_choose_column_status {
  width: 65px;
}

th, #transcript_choose tr, #transcript_choose td {
  padding: 4px;
  overflow: auto;
}

#transcript_choose tr, #transcript_choose td {
  border: 1px solid #454545;
  height: 30px;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  width: 300px;
}

.transcript_json_cell, .JSON_table_header {
  display: none;
}

/*TODO: remove hide after functionality added*/
.transcript_choose_share, .transcript_choose_edit {
  display: none;
}

.vidNameNav {
  font-weight: 400;
}

select {
  /*font-size: 900%;*/
}

/*iPhone message*/
#iphone_warning {
  display: none;
  visibility: hidden;
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
  }

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #iphone_warning {
      display: inline !important;
      visibility: visible !important;
    }
}