#ytplayer {
  height: 500px; /* prevent reformat after vid load */
}
ul, #header h1, #header p, #header li, #header form {
  display: inline;
  padding: 0;
  margin-right: 10px;
}

#header {
  margin: 10px 0px 10px 0px;
}

#login {
  float: right;
}

a {
  text-decoration: underline;
}
a:hover{
  border-bottom: 1px solid #2a6496;
}

body {
  font-weight: 200; !important
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

#footer {
  border-top: 2px solid #E5E4E2;
  margin-top: 10px;
  margin-bottom: 30px;
}

#captions {
  background: transparent;
  color: #fafafa;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-shadow:
  -1px -1px 0 #333,
   1px -1px 0 #333,
   -1px 1px 0 #333,
    1px 1px 0 #333;
  top: -110px;
  height: 0px; /* prevent template shift from captions */
}

#transcriptEdit {
  border: 1px solid black;
  height: 100px;
  overflow-y: scroll;
}

#vidId {
  height: 1000px;
}

#message {
  color: red;
}
