#id_transcript {
  float: right;
  visibility: hidden;
}

#id_transcript {
  width: 400px;
}

.timestamp_input {
  width: 90px;
}
.timestamp_input, .transcript_input {
  border: solid 1px #454545;
}

.insert_row a, .delete_row a {
  border: solid 1px #454545;
  padding: 2px 22px 3px 22px;
  text-decoration: none;
}

.insert_row a:hover, .delete_row a:hover, .insert_row a:active, .delete_row a:active {
  padding: 2px 22px 3px 22px;
  text-decoration: underline;
}

/*#ad {*/
  /*height: 60px;*/
  /*width: 468px;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: 1px solid grey;*/
/*}*/

/*#transcript_choose tr:nth-child(even){
  background-color: #E6E6E6;
}

#transcript_choose tr:nth-child(odd){
  background-color: white;
}

#transcript_choose th {
  background-color: white;
}
*/

#transcript_table {
  /*border: 1px solid grey;*/
}

#transcripting td.transcript_cell input {
  width: 400px; /* TODO: check on iPad */
}

#transcripting td.insert_row {
  text-align: center;
}

#ytplayer {
  height: 600px; /* TESTING: change on JS event to make transcript room. */
}

ul {
  padding: 0 0 0 1em; /* bullet lists hug margin on left */
}

#header ul, #header h1, #header p, #header li, #header form {
  display: inline;
  padding: 0;
  margin-right: 10px;
}

#video_search form {
  white-space: nowrap;
  vertical-align: super; /* better align with h1 */
}

#header {
  margin: 10px 0 10px 0;
}

#login {
  float: right;
}

a {
  text-decoration: underline;
}

a:hover{
  border-bottom: 1px solid #2a6496;
}

body {
  font-weight: 200 !important;
  padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

#footer {
  border-top: 2px solid #E5E4E2;
  margin-bottom: 30px;
  margin-top: 10px;
}

#captions {
  background: transparent;
  color: yellow;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-shadow:
  -1px -1px 0 #333,
   1px -1px 0 #333,
   -1px 1px 0 #333,
    1px 1px 0 #333;
  top: -150px;
  height: 0; /* prevent template shift from captions */
}

#timeStamp {
  background: transparent;
  color: yellow;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-shadow:
  -1px -1px 0 #333,
   1px -1px 0 #333,
   -1px 1px 0 #333,
    1px 1px 0 #333;
}

#transcriptEdit {
  border: 1px solid black;
  /*height: 100px;*/
  /*overflow-y: scroll;*/
}

#vidId {
  /* height: 1000px; */
  width: 100%;
}

#ytplayer {
  width: 100%;
}

#message {
  color: red;
}

#video_search {
}

#main-search {
  font-size: 200%;
  margin: 100px 0 100px 0;
  width: 100%;
}

#main-search li {
  display: inline;
}

#submitted_transcripts {
  /* trying to get transcript editor and transcript */
  overflow: auto;
  height: 100%;
}

#add_transcripts {
  display: none;
  border: 1px solid #333;
  padding: 0 5px 0 5px;
  position: absolute;
  width: 50%;
  height: 600px;
  overflow: auto;
  background: white;
}

#transcript {
  width: 200px;
  padding-left: 1.5em;
}

#time_submit_message, #language_submit_message, #language_message {
  color: red;
}

#transcription_tips {
  margin: 2em 0;
  display: none;
}

.transcript_preview_row:hover {
  background-color: #D8D8D8;
  color: black;
  cursor: pointer;
}

#id_transcript_search {
  width: 50%;
}

/* trying to overflow */
tbody {
  /*background-color: red;*/
  overflow: auto;
}

#transcript_choose {
  border: 1px solid red;
  table-layout: fixed;
  width: 100%;
}

.transcript_preview_column {
  width: 60%;
}

.transcript_choose_column_language, .transcript_choose_column_status, .transcript_choose_share {
  text-align: center;
}

th, #transcript_choose tr, #transcript_choose td {
  padding: 4px;
  overflow: auto;
}

#transcript_choose tr, #transcript_choose td {
  border: 1px solid #454545;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.transcript_json_cell, #JSON_table_header {
  display: none;
}