<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Crowdsource subtitles.">
  <meta name="author" content="Aaron Snitzer">
  <link rel="shortcut icon" href="/static/dproject/favicon.ico">
  <title>Wikitate</title>
  <link href="/static/dproject/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/dproject/css/css1.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 6]>
    <script>
      document.createElement("abbr");
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div id="header">
        <ul id="head">

          <li><h1><a href="/">Wikitate</a> &#47; Account</h1></li>

          <li>
           {% block video_search %}
           <li>
            <span id="video_search">
              <form action="" method="post">{% csrf_token %}
                <input id="id_transcript_search" maxlength="100" name="transcript_search" placeholder="Enter video link" type="text" />
                <input type="submit" id="submit_vid_search" value="Search" />
              </form>
            </span>
          </li>
          {% endblock video_search %}
        </li>

        {% block baselogin %}
        <div id="login">
          {% if user.is_authenticated %}
          <a href="/accounts/logout/?next={{request.path}}">Logout</a>
          {% load account %}
          {% user_display user %}
          <br />
          <a href="/accounts/profile/">Settings</a>
          {% endif %}
        </div>
        {% endblock baselogin %}

      </ul>
    </div>


    {% block body %}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% comment %}
    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% endcomment %}

    {% block content %}
    {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}


    <div id="footer">
      <a href="{% url 'index:about' %}">About</a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/static/dproject/js/bootstrap.min.js"></script>
    <script src="/static/dproject/js/js1.js"></script>
  </div>
</body>
</html>
