{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}


<h1>{% trans "Sign In" %}</h1>

<!-- {% if socialaccount.providers  %} -->
<!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts.
<br>
 -->
 <a href="{{ signup_url }}">New user sign up</a>.
 <br />
 <br />
 Sign in with an existing account below:{% endblocktrans %}</p>

<!-- <div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
 -->
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  {% comment %}
  {{ form.as_p }}
  {% endcomment %}
  
  <!-- custom code -->
  <form class="login" method="POST" action="/accounts/login/">
    {% csrf_token %}    
  <p><label for="id_login">Login:</label> <input autofocus="autofocus" id="id_login" name="login" placeholder="Username or e-mail" type="text" /></p>
<p><label for="id_password">Password:</label> <input id="id_password" name="password" placeholder="Password" type="password" /></p>
<p><label for="id_remember">Remember Me:</label> <input id="id_remember" name="remember" type="checkbox"  checked/></p>
  <!-- custom code -->
  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  <br>
  <br>
   <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <br>
  <br>
</form>

{% endblock content %}
