<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Crowdsource subtitles.">
<meta name="author" content="Aaron Snitzer">
<link rel="shortcut icon" href="{% static "dproject/favicon.ico" %}">
<title>{% block title %}vidtest{% endblock title %}</title>
<link href="{% static "dproject/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "dproject/css/css1.css" %}" rel="stylesheet">
<link href="{% static "dproject/css/default.uni-form.css" %}" rel="stylesheet">
<link href="{% static "dproject/css/uni-form.css" %}" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<!--[if lte IE 6]>
    <script>
      document.createElement("abbr");
    </script>
    <![endif]-->
</head>
<body>

<div class="container">
  <div id="header">
    <ul id="head">
    {% block header %}
    <li><h1><a href="{% url 'index:index' %}">dProject</a></h1></li>
    {% endblock header %}
    {% block video_search %}
    <li>
    <span id="video_search">
      <form action="/video_search_request/" method="post">{% csrf_token %}
        {{ video_search.as_ul }}
        <input type="submit" value="Search" />
      </form>
    </span>
    </li>
    {% endblock video_search %}

    {% block baselogin %}
    <div id="login">
      {% if user.is_authenticated %}
        {% load account %}
        <a href="/accounts/logout/?next={{request.path}}">Logout</a>
        {% user_display user %}
        <br />
        <a href="/accounts/profile/">Settings</a>
      {% else %}
        <a href="/accounts/login/?next={{request.path}}">Sign up / sign in and contribute</a>
      {% endif %}

    </div>
    {% endblock baselogin %}

  </ul>
  </div>

  {% block content %}
  {% endblock content %}
  {% block footer %}
  <div id="footer">
    <a href="{% url 'index:about' %}">About</a>
  </div>
  {% endblock footer %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

{% comment %}
<!-- Begin testing code from YT, Adobe. This is the YT recommended way to pass vid rather than iframe. -->
<script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>    

<script>
// var vidURL = document.URL.match(/v=.{11}/).toString().substring(2,13);
var vidCode = '{{ vidId }}'

// embed video on page
var params = { allowScriptAccess: 'always' };
var atts = { id: 'myytplayer' };
swfobject.embedSWF('http://www.youtube.com/v/' + vidCode + '?enablejsapi=1&playerapiid=ytplayer&version=3',
    'vidId', '100%', '480', '8', null, null, params, atts);

</script>
<!-- End testing code from YT, Adobe. This is the YT recommended way to pass vid rather than iframe. -->
{% endcomment %}

<script src="{% static "dproject/js/bootstrap.min.js" %}"></script>
<script src="{% static "dproject/js/js1.js" %}"></script>
</body>
</html>
