{% extends "mysite/base.html" %}{% load staticfiles %}

{% block header %}
<h1><a href="{% url 'index:index' %}">Home</a> &#47; About Wikitate</h1>
{% endblock header %}

{% block content %}

<h2>Purpose</h2>
<ul>
	<li>Wikitate helps you add transcripts to other people's YouTube videos.</li>
	<li>Access for the deaf and hard of hearing. <a href="http://www.who.int/mediacentre/factsheets/fs300/en/">Greater than 5% of the total world population has significant hearing loss.</a></li>
	<li>Make video more discoverable. Search engines (like Google) work best with text.</li>
	<li>Open a video to a larger audience by translating a video into another language.</li>
	<li>Browse without sound.</li>
</ul>

<h2>Navigation</h2>
<p>Copy and paste a YouTube link into the search box.</p>
<p>Access Wikitate directly from YouTube with the view in Wikitate bookmarklet. Add this link to your bookmarks and use it while in YouTube to instantly jump the video into the Wikitate player: <a href="javascript:var search_url = /youtube.com/g;var search_vid = /v=.........../g;var search_url_results = search_url.exec(location.host);var search_vid_results = search_vid.exec(location.search);if (search_url_results !== null) {window.location = ('http://www.wikitate.com/' + search_vid_results[0].slice(2));}">view in Wikitate</a>.</p>

<h2>Next Steps</h2>
<ul>
	<li>Native iPhone app. Safari on iPhone limits some non-native video playback control and this necessitates the need for a native app.</li>
	<li>Paid transcription and translation requests.</li>
	<li>Crowdsourced transcriptions and translations.</li>
	<li>Improve usability and accessibility.</li>
</ul>
<h2>Creator</h2>
<p><a href="//aaronsnitzer.com/">Aaron Snitzer</a> made this. This project is independent of YouTube and Wikipedia.</p>
<p>Follow <a href="//twitter.com/wikitate">Wikitate on Twitter</a></p>
<h2>Tools Wikitate uses:</h2>
<ul>
<li><a href="//www.python.org/">Python</a> and the <a href="//www.djangoproject.com/">Django</a> web framework.</li>
<li><a href="//developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> and the <a href="//jquery.com/">jQuery</a> JavaScript library.</li>
<li><a href="//github.com/pennersr/django-allauth">Django-allauth</a>.</li>
<li><a href="//craig.is/killing/mice">Mousetrap</a>.</li>
<li><a href="//www.git-scm.com/">Git</a> and <a href="//github.com/">GitHub</a>.</li>
<li><a href="//www.heroku.com/">Heroku</a>.</li>
<li><a href="//initd.org/psycopg/">Psycopg</a> for <a href="//www.postgresql.org">PostgreSQL</a>.</li>
<li><abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr>.</li>
</ul>
{% endblock content %}
{% block footer %}
<div id="footer">
	<p>&copy; Aaron Snitzer</p>
</div>
{% endblock footer %}
