{% extends "mysite/base.html" %}{% load staticfiles %}


{% block content %}


<!-- Caption choose to edit and add -->
<div id="show_hide_add_transcripts_picker id_language" name="language">
  <form method="post" action="/transcript_submit/{{ vidId }}/">
    {% if t %}
    <select class="show_hide_add_transcripts" name="language">
      <option selected="selected" disabled="disabled">&#43; Create or modify transcripts by language:</option>
      <option disabled="disabled">Choose language</option>
      {% for x in t %}
      <option class="add_transcript_picker language_abbr existing_transcript" value="{{ x.language }}">{{ x.language }} Modified: {{x.modified|date:"U"}} (edit existing transcript)</option>

      {% empty %}
      {% endfor %}

    </select>

    {% else%}

    <select class="show_hide_add_transcripts" id="id_language" name="language">
      <option selected="selected" disabled="disabled">&#43; Create transcript</option>
      <option disabled="disabled">Choose language</option>
      <option value="af">Afrikaans</option>
      <option value="id">Bahasa Indonesia</option>
      <option value="ms">Bahasa Malaysia</option>
      <option value="ca">Català</option>
      <option value="cs">Čeština</option>
      <option value="da">Dansk</option>
      <option value="de">Deutsch</option>
      <option value="et">Eesti</option>
      <option value="en-GB">English (UK)</option>
      <option value="en">English (US)</option>
      <option value="es">Español (España)</option>
      <option value="es-419">Español (Latinoamérica)</option>
      <option value="eu">Euskara</option>
      <option value="fil">Filipino</option>
      <option value="fr">Français</option>
      <option value="fr-CA">Français (Canada)</option>
      <option value="gl">Galego</option>
      <option value="hr">Hrvatski</option>
      <option value="zu">IsiZulu</option>
      <option value="is">Íslenska</option>
      <option value="it">Italiano</option>
      <option value="sw">Kiswahili</option>
      <option value="lv">Latviešu valoda</option>
      <option value="lt">Lietuvių</option>
      <option value="hu">Magyar</option>
      <option value="nl">Nederlands</option>
      <option value="no">Norsk</option>
      <option value="pl">Polski</option>
      <option value="pt-PT">Português</option>
      <option value="pt">Português (Brasil)</option>
      <option value="ro">Română</option>
      <option value="sk">Slovenčina</option>
      <option value="sl">Slovenščina</option>
      <option value="fi">Suomi</option>
      <option value="sv">Svenska</option>
      <option value="vi">Tiếng Việt</option>
      <option value="tr">Türkçe</option>
      <option value="bg">Български</option>
      <option value="ru">Русский</option>
      <option value="sr">Српски</option>
      <option value="uk">Українська</option>
      <option value="el">Ελληνικά</option>
      <option value="iw">עברית</option>
      <option value="ur">اردو</option>
      <option value="ar">العربية</option>
      <option value="fa">فارسی</option>
      <option value="mr">मराठी</option>
      <option value="hi">हिन्दी</option>
      <option value="bn">বাংলা</option>
      <option value="gu">ગુજરાતી</option>
      <option value="ta">தமிழ்</option>
      <option value="te">తెలుగు</option>
      <option value="kn">ಕನ್ನಡ</option>
      <option value="ml">മലയാളം </option>
      <option value="th">ภาษาไทย</option>
      <option value="am">አማርኛ</option>
      <option value="zh-CN">中文 (简体)</option>
      <option value="zh-TW">中文 (繁體)</option>
      <option value="zh-HK">中文 (香港)</option>
      <option value="ja">日本語</option>
      <option value="ko">한국어</option>
      <option value="ot">other</option>
    </select>

    {% endif %}

  </div>

<!-- START TESTING: query only latest transcripts for each language -->
<!-- <hr> -->
<!-- {{ latest_transcripts }} -->
<!-- <hr> -->
<!-- {% if page_ms %} -->
  <!-- {{ page_ms.transcript }} -->
<!-- {% endif %} -->
<!-- <hr> -->
<!-- END TESTING: query only latest transcripts for each language -->

  <div id="add_transcripts">

    {% if user.is_authenticated %}
    {% load account %}

    {# transcript submit #}
    {% csrf_token %}

    {# transcript form #}
    <div id="transcript_table" name="transcript_table"> <!-- does name-transcript need to be here at all? -->
      <table id="transcripting">
        <caption></caption>
        <tr>
          <th title="Click video time to set timestamp for a line of text.">video&nbsp;time</th>
          <th>timestamp<br />(required)</th>
          <th>text&nbsp;line</th>
          <th>insert</th>
          <th>delete</th>
        </tr>
        <tr>
          <td class="timestamp_display" title="Add timestamp to this row."><a href="#notlink">&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&rArr;</a></td>
          <td class="time_cell"><input class="timestamp_input mousetrap" name="timestamp_cell" cols="100" min="0" type="number" step="0.5" value="" /></td>
          <td class="transcript_cell"><input class="transcript_input mousetrap" name="transcript_cell" maxlength="100" type="text" autocomplete="off" /></td>
          <td class="insert_row" tabindex="0"><a href="#notlink">+</a></td>
          <td class="delete_row"><a href="#notlink">-</a></td>
        </tr>
        <input id="id_transcript" name="transcript" type="text" />
      </table>
    </div>
  </div>
  <div id="transcript_table_scrollbox">


  {% else %}
  <a href="/accounts/signup/?next={{request.path}}">Sign up / log in to add or edit transcripts.</a>
  {% endif %}
</div>

<div id="ytplayer"></div>

<div id="captions"></div>

<div id="submit_edit">
  <input id="submit" type="submit" value="Submit transcript" />
  <a href="#notlink" id="cancel_edit">Cancel edit</a>
  <span id="language_message"></span>
  <span id="language_submit_message"></span>
  <span id="time_submit_message"></span>
</div>
</form>
<div id="transcription_tips">
  <h3>Transcribing tips</h3>
  <ul>
    <li>Transcribe first, then set timing as the video plays.</li>
    <li>Key combos:</li>
    <ul>
      <li>control + space bar : Play / pause video.</li>
      <li>control + t : If a timestamp field has focus, write timestamp into that field and move focus to next time field.</li>
    </ul>
    <li>Clicking the dynamic timestamp in the "video time" column pushes time into that subtitle row. This is helpful for adding the timestamp to a line of text during video playback. Timestamp is in total seconds. For example: two minutes and ten seconds is a timestamp of 130. You can also use the control + t key combo for this.</li>
    <li>Set text timing about &frac12; second before dialog appears. This gives the brain time to react and read the text with the action. When setting timing with the "video time" link, this happens automatically.</li>
    <li>100 character limit each text line.</li>
    <li>During video playback, displayed text will fade out after six seconds. You don't need to add a blank line after text to clear subtitles.</li>
    <li>Music symbol: ♫</li>
    <li>Two lines cannot have the same timestamp.</li>
    <li>You can always save an incomplete draft and come back to edit it later. No edit is permanent.</li>
  </ul>
</div>

<!-- Caption choose and loadtable -->
<div id="submitted_transcripts">
  {% if t %}
  <!-- <h2>{{ t.count }} Transcript{{ t|pluralize }} Available for <span class="vidNameNav">{{ vidId }}</span></h2> -->
  <h2>Transcript{{ t|pluralize }} Available for <span class="vidNameNav">{{ vidId }}</span></h2>
  <table id="transcript_choose">
    <tr>
      <th class="transcript_choose_column_status">&nbsp;</th>
      <th class="transcript_choose_column_language">Language</th>
      <th class="transcript_preview_column">Transcript Preview</th>
      <th class="JSON_table_header">JSON</th>
      <th class="transcript_choose_share">Share</th>
      <th class="transcript_choose_edit">Edit</th>
    </tr>
    {% if page_af %}
    <tr class="transcript_preview_row">
      <td class="transcript_choose_column_status transcript_loaded_cell">&#9658; Play</td>
      <td class="transcript_choose_column_language language_abbr"><div class="scrollit">{{ page_af.language }}</div></td>
      <td class="transcript_preview_cell transcript_preview_column"><div class="scrollit">{{ page_af.transcript }}</div></td>
      <td class="transcript_json_cell">{{ page_af.transcript }}</td>
      <td class="transcript_choose_share"><a href="/{{vidId}}/{{ page_af.language }}/">Permalink</a></td>
      <td class="transcript_choose_edit"><a href="#notlink">Edit</a></td>
    </tr>
    {% endif %}
    {% if page_id %}
    <tr class="transcript_preview_row">
      <td class="transcript_choose_column_status transcript_loaded_cell">&#9658; Play</td>
      <td class="transcript_choose_column_language language_abbr"><div class="scrollit">{{ page_id.language }}</div></td>
      <td class="transcript_preview_cell transcript_preview_column"><div class="scrollit">{{ page_id.transcript }}</div></td>
      <td class="transcript_json_cell">{{ page_id.transcript }}</td>
      <td class="transcript_choose_share"><a href="/{{vidId}}/{{ page_id.language }}/">Permalink</a></td>
      <td class="transcript_choose_edit"><a href="#notlink">Edit</a></td>
    </tr>
    {% endif %}
    {% if page_ms %}
    <tr class="transcript_preview_row">
      <td class="transcript_choose_column_status transcript_loaded_cell">&#9658; Play</td>
      <td class="transcript_choose_column_language language_abbr"><div class="scrollit">{{ page_ms.language }}</div></td>
      <td class="transcript_preview_cell transcript_preview_column"><div class="scrollit">{{ page_ms.transcript }}</div></td>
      <td class="transcript_json_cell">{{ page_ms.transcript }}</td>
      <td class="transcript_choose_share"><a href="/{{vidId}}/{{ page_ms.language }}/">wikitate.com/{{vidId}}/{{page_ms.language}}/</a></td>
      <td class="transcript_choose_edit"><a href="#notlink">✎</a></td>
    </tr>
    {% endif %}




  </table>
  {% else%}
  <h2>No Transcripts Available for <span class="vidNameNav">{{ vidId }}</span></h2>
  {% endif %}
</div>



<!-- <p>_________________</p>
<div id="Viewer">
  Select transcript
</div>
<div id="Editor">
  Select time | Text (with character limit) | Duration<br>
</div>
<div id="starp">Start / Stop</div>
<div id="skipBack">Skip back 3 seconds</div>
<div id="vidCode">vidCode</div>
<div id="returnYT">returnYT</div>
<div id="playerExistenceIndicator">player.getDuration()</div> -->



<script>
// Load the iFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// Replace the 'ytplayer' element with an <iframe> and YouTube player after the API code downloads.
var player;
function onYouTubePlayerAPIReady() {
  player = new YT.Player('ytplayer', {
    videoId: '{{ vidId }}',
    events: {
      'onReady': onPlayerReady,
      // 'onApiChange': onApiChange,
      'onStateChange': onStateChange
      // 'onError': onError // TODO: message for unembedable video
    }
  });
}

</script>

{% endblock content %}