{% extends "mysite/base.html" %}{% load staticfiles %}
{% block video_search%}
{% endblock video_search %}
{% block header %}
<h1>Wikitate</h1>
Add subtitles to YouTube videos.
{% endblock header %}
{% block content %}
<div id="message">
{{ message }}
</div>
<div id="main-search">
<form action="" method="post">{% csrf_token %}
  {% comment %}
  {{ video_search }}
  {% endcomment %}
  <input id="id_transcript_search" maxlength="100" name="transcript_search" placeholder="Enter video link Ex: youtube.com/xyz" type="text" />
  <input id="submit_vid_search" type="submit" value="Search" />
</form>
</div>
<p><a href="#">Try a demo video!</a></p>
<br>
<br>
<br>
<br>
<!-- <ul>
  <li>
    <a href="/3BJ9YXy6zQk/">3BJ9YXy6zQk</a>
  </li>
  <li>
    <a href="/jHGyJwyvM7Y/">jHGyJwyvM7Y</a>
  </li>
</ul>
 -->
<!-- <p>Most requested...</p>  -->
{% endblock content %}
