{% extends "mysite/base.html" %}{% load staticfiles %}
{% block video_search%}
{% endblock video_search %}
{% block header %}
<h1>WikiTate</h1>
{% endblock header %}
{% block content %}
<div id="message">
{{ message }}
</div>
<div id="main-search">
<form action="" method="post">{% csrf_token %}
  {% comment %}
  {{ video_search }}
  {% endcomment %}
  <input id="id_transcript_search" maxlength="100" name="transcript_search" placeholder="Enter video link" type="text" />
  <input id="submit_vid_search" type="submit" value="Search" />
</form>
</div>
<a href="/3BJ9YXy6zQk/">127.0.0.1:8000/3BJ9YXy6zQk/</a>
<!-- <p>Most requested.</p> -->
{% endblock content %}
