{% extends "account/base.html" %}{% load staticfiles %}

{% block baselogin %}
<div id="login">
  {% if user.is_authenticated %}
  {% load account %}
  <a href="/accounts/logout/?next=/">Logout</a>
  {% user_display user %}
  {% else %}
  <a href="/accounts/login/?next={{request.path}}">Sign up / sign in and contribute</a>
  {% endif %}
</div>
{% endblock baselogin %}
{% block body %}
{% if user.is_authenticated %}
{% load account %}
<p>Hello, {% user_display user %}.</p>
<ul>
  <!-- <li>Preferred language</li> -->
  <!-- <li>Change password</li> -->
  <!-- <li>Change username</li> -->
  <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
<!--   <li>Your submissions. Drafts and published.</li>
  <li>Delete account.</li>
 -->  <!-- <li>[SAVE] button</li> -->
</ul>
{% else %}
Logged out.
<!-- http://127.0.0.1:8000/accounts/login/ -->
{% endif %}
{% endblock body %}
