{% extends "mysite/base.html" %}{% load staticfiles %}

{% block content %}

<h2>What is this?</h2>
<p>This website helps users find and create transcripts to YouTube videos.</p>
<h2>How to use</h2>
<p>Copy and search by YT link or install browser plugin.</p>

<h2>Uses</h2>
<ul>
  <li>Access for the deaf and hard of hearing. Greater than 5% of the total world population has significant hearing loss (<a href="http://www.who.int/mediacentre/factsheets/fs300/en/">source</a>).</li>
  <li>Make video more searchable. Search engines (like Google) work best with text.</li>
  <li>Open up a video to more languages. Translate a video into another language.</li>
  <li>Browse without sound. Forgot your headphones?</li>
</ul>

<h2>Author</h2>
<p><a href="//twitter.com/snitzr">Aaron Snitzer</a> made this.</p>
{% endblock content %}
{% block footer %}
<div id="footer">
  <p>&copy; Aaron Snitzer</p>
</div>
{% endblock footer %}
