{% extends "dproject/base.html" %}{% load staticfiles %}
{% block content %}

<h2>What is this?</h2>
<p>This website helps users find and create transcripts to YouTube videos</p>
<h2>How to use</h2>
Copy and search by YT link or install browser plugin.

<h2>Uses</h2>
<ul>
  <li>Deaf and hard of hearing.</li>
  <li>Make video more searchable.</li>
  <li>Add more value to the internet.</li>
  <li>Open up a video to another language.</li>
  <li>Browse at work with sound off.</li>
</ul>

<h2>Author</h2>
<p>Aaron made this.</p>
{% endblock content %}
