{% extends "dproject/base.html" %}{% load staticfiles %}

{% block content %}
<div id="ytplayer"></div>

<script>
// Load the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// Replace the 'ytplayer' element with an <iframe> and
// YouTube player after the API code downloads.
var player;
function onYouTubePlayerAPIReady() {
  ytvid = new YT.Player('ytplayer', {
height: '480',
width: '100%',
videoId: '3BJ9YXy6zQk'
});
}
</script>
  <div id="vidId">
    <h1>You need <a href="//get.adobe.com/flashplayer/">Flash player 8+</a> and <a href="//enable-javascript.com/">JavaScript</a> enabled to view this video. Apple iPads and iPhones do not run Flash software.</h1>
  </div>
    <div id="captions"></div>

  <div>{{ vidId }}</div>

  <div id="Viewer">
    Select transcript
  </div>
  <div id="Editor">
    Select language from dropdown / type in autocomplete<br />
    Select time | Text (with character limit) | Duration<br />
  </div>
  <div id="starp">Start/Stop</div>
  <div id="skipBack">Skip back 1 second</div>
  <div id="timeStamp"></div>
  <div id="timeClick">Click for time display [test]</div>
  <div id="vidCode"></div>

  <div id="transcriptEdit">
    <div id="transcriptLine1">This a test of the CamStudio microphone.</div>
    <div id="transcriptLine2">It's just dangling from my ear.</div>
    <div id="transcriptLine3">Um, this is how we learn math.</div>
    <div id="transcriptLine4">Whoops!</div>
    <div id="transcriptLine5">Let's click click click delete "h."</div>
    <div id="transcriptLine6">Good.</div>
    <div id="transcriptLine7">Is it not recording?</div>
  </div>
  <!-- DB views, template to access views, some kind of forms, validation of forms, key to access DB, {views: vid key from URL + ID, user or anon, language, chunk of transcript with times and content, rating},  -->
  <div>
    <p>Available transcripts</p>
    <p>URL + ID for DB key</p>
    <p>database info</p>
    <p>database info</p>
    <p>database info</p>
  </div>
  <div>
    <input type="submit" value="Create your own transcript." id="createTranscript" />
  </div> 
{% endblock content %}
